---
import EditorLayout from "../../components/animator/EditorLayout";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>Kinetix Animator</title>
    </head>
    <body class="bg-neutral-950 text-slate-100 overflow-hidden">
        <EditorLayout client:only="react" />
    </body>
</html>
