---

---

<div class="vertical-ad-container text-white">
    <div class="ad-label">Advertisement</div>
    <!-- AdSense Script -->
    <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7993314093599705"
        crossorigin="anonymous"></script>

    <!-- VERTICAL_AD -->
    <ins
        class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7993314093599705"
        data-ad-slot="9544937585"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>

    <script is:inline>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<style>
    .vertical-ad-container {
        width: 160px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: rgba(255, 255, 255, 0.03);
        background-color: aliceblue;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        overflow: hidden;
    }

    .ad-label {
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgb(7, 7, 7);
        margin: 4px 0;
        font-family: sans-serif;
    }
</style>
